Browser cannot resolve IP address for https://jaceklaskowski.gitbooks.io/mastering-spark-sql

When opening the bit.ly link in the repo, I'm redirected to https://jaceklaskowski.gitbooks.io/mastering-spark-sql

However, I get an error message stating the server cannot be found (a DNS error: the IP address cannot be resolved).

I've never seen it before, but...

Could you use curl (or a similar command-line tool) to check out the web address, e.g.

```
curl -v https://jaceklaskowski.gitbooks.io/mastering-spark-sql
```

Check out the output to see if anything important comes out.

```
$ curl --verbose https://jaceklaskowski.gitbooks.io/mastering-spark-sql
* Could not resolve host: jaceklaskowski.gitbooks.io
* Closing connection 0
curl: (6) Could not resolve host: jaceklaskowski.gitbooks.io
```

However, resolving the IP address via a website (like https://www.dnsqueries.com/en/dns_lookup.php) does work.
My assumption (so far) is an errant DNS cache somewhere.

Update: after contacting my ISP DNS server directly, I've reached the conclusion that I cannot solve this. Even my ISP fails to resolve the name.

The underlying cause is that the DNS server for gitbook.io has both CNAME and HINFO records for the host, which is an error -- as RFC 1912, section 2,4 states: [A CNAME record is not allowed to coexist with any other data](https://tools.ietf.org/html/rfc1912#section-2.4).

As a result, the DNS server of my ISP fails to resolve the host.

Interesting. I've never experienced this before. Sorry to hear you're experiencing troubles accessing the site. Is there any way to give you access to the book online? Please guide as I've got no idea myself.

p.s. I'm thinking about migrating the book to some other site (like two others), but haven't had time to do so yet.

I'm migrating the book this week and given no activity I consider this issue resolved.